.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1.2rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  
  .logo {
    flex: 1;
  }
  
  .links {
    flex: 1;
    display: flex;
    justify-content: space-around;
    color: white;
    font-weight: 100;
  }
  
  .button {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    color: white;



  }
  