@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: montserrat;
  src: url(./font/Montserrat-Regular.ttf);
}

@font-face {
  font-family: montserrat-thin;
  src: url(./font/Montserrat-Thin.ttf);
}

@font-face {
  font-family: montserrat-bold;
  src: url(./font/Montserrat-Bold.ttf);
}

.montserrat-font-bold {
  font-family: montserrat-bold;
}

.montserrat-font-thin {
  font-family: montserrat-thin;
}

.montserrat-font {
  font-family: montserrat;
}


.btn-verde {
  position: relative;
  background-color: #11562F; 
  color: white;
  width: 12rem; 
  height: 3rem; 
  border: none;
  cursor: pointer;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 0.5rem), calc(100% - 0.5rem) 100%, 0 100%);
}

.btn-transparente {
  position: relative;
  background-color: transparent; 
  color: white;
  width: 12rem; 
  height: 3rem; 
  border: 1.3px solid white; 
  cursor: pointer;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 0.5rem), calc(100% - 0.5rem) 100%, 0 100%);
}

.btn-transparente::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0.5rem;
  height: 0.5rem;
  background-color: transparent;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}






/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
