@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: montserrat;
  src: url(./font/Montserrat-Regular.ttf);
}

@font-face {
  font-family: montserrat-thin;
  src: url(./font/Montserrat-Thin.ttf);
}

@font-face {
  font-family: montserrat-bold;
  src: url(./font/Montserrat-Bold.ttf);
}

.montserrat-font-bold {
  font-family: montserrat-bold;
}

.montserrat-font-thin {
  font-family: montserrat-thin;
}

.montserrat-font {
  font-family: montserrat;
}



/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
